<% provide(:title, 'Log') %>
<h6>Admin->Log</h6>

<div class="row">
  <div class="col-md-10" style="padding-right:20px; border-right: 1px solid #ccc;">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>Time</th>
          <th>Operator</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% @entries.reverse.each do |entry| %>
        <tr>
          <td><%= entry.timestamp.strftime("%a %b %d %Y %I:%M:%S %p") %></td>
          <td><%= entry.operator.id %></td>
          <td><%= entry.message %></td>
        </tr>
        <% end %>
      </tbody> 
    </tbody>
  </table>
</div>
<div class="col-md-2">
  <h4>Log an entry</h4>
  <form action="log_message" method ="post" enctype="multipart/form-data">
    <%= text_area_tag :message, params[:message] %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <%= submit_tag "Submit", :class=>"btn", :name => nil %>
  </form>
</div>      
</div>
