<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :id %>
      <%= f.text_field :id %>

      <%= f.label :password %>
      <%= f.password_field :auth_key %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>


    <p>Want to sign up as a new user? Please <a href="mailto:fda@example.com?Subject=Sign%20me%20up" target="_top">
Send Mail to FDA</a> </p>

 <!-- <%= link_to "Sign up now!", signup_path %> -->
  </div>
</div>
