<table>
  <tr>
    <th>step</th>
    <th>time</th>
    <th>seconds</th>
    <th>detail</th>
  </tr>
  <% steps = @wip.steps_descending %>
  <% steps.each do |name, s| %>
    <tr>
      <td><%= name %></td>
      <td><%= s[:time].iso8601 %></td>
      <td><%= "%06.2f" % s[:duration] %></td>
      <td><%= s[:detail] %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="2">total duration</th>
    <th><%= "%06.2f" % steps.inject(0) { |acc, (n,s)| acc += s[:duration] } %></th>
  </tr>
</table>
