<% provide(:title, 'Edit User') %>
<h1>Update your password</h1>
<div class="row">
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user updating password:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="col-md-3 col-md-offset-4">
    
    <form action="update_password" method ="post" enctype="multipart/form-data">
    <%= label_tag 'Password' %>
    <%= text_field_tag 'Password' %>
    <%= label_tag 'Confirm Password' %>
    <%= text_field_tag 'Confirm_Password' %>  
    <input name="id" type="hidden" value="<%= @user.id %>" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <%= submit_tag "Save", :class=>"btn", :name => nil %>
    </form>
    <!-- <%= form_for(@user, :as => :user,  :url => url_for(:action => 'update_password')) do |f| %>
     <%= f.label :password %>
     <%= f.password_field :auth_key, :placeholder => "Password" %>
     <%= f.label :confirm_password %>  
     <%= f.password_field :confirm_password, :placeholder => "Reenter Password" %>
     <%= f.submit "Save", class: "btn btn-large btn-primary" %>
     <% end %> -->
  </div>
</div>
