<% provide(:title, 'All Users') %>
<h6>Admin->Users</h6>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'New User', new_user_path %>
  </div>
</div>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Account</th>
    <th>Description</th>
    <th>Emails</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Tech Contact</th>   
    <th>Admin Contact</th>        
    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.id, user %></td>
    <td><%= user.account_id %></td>
    <td><%= user.description %></td>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= check_box_tag 'tech_contact', user.is_tech_contact, user.is_tech_contact %></td>    
    <td><%= check_box_tag 'admin_contact', user.is_admin_contact, user.is_admin_contact %></td>
    <% if admin_user? %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    <% if admin_user? && !current_user?(user) %>
      <td><%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<!-- <ul class="users">
<% @users.each do |user| %>
<li>
<%= link_to user.id, user %>
<%= user.first_name %>
<%= user.last_name %>
<%= user.account_id %>
<%= user.email %>
</li>
<% end %>
</ul> -->

<%= will_paginate %>

