<% provide(:title, 'All Users') %>
<h6>Admin->Users</h6>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Account</th>
    <th>Description</th>
    <th>Emails</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.id, user %></td>
    <td><%= user.account_id %></td>
    <td><%= user.description %></td>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <% if admin_user? %>
	<td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    <% if admin_user? && !current_user?(user) %>
	<td><%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<!-- <ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.id, user %>
      <%= user.first_name %>
      <%= user.last_name %>
      <%= user.account_id %>
      <%= user.email %>
    </li>
  <% end %>
</ul> -->

<%= will_paginate %>

<%= link_to 'New User', new_user_path %>