<% provide(:title, @user.id) %>
<h1><%= @user.id %></h1>
<h3><%= @user.description %></h1>
<h3><%= @user.account_id %></h1>
<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name%></h3>
<h3><%= @user.email %></h3>
<h3><%= @user.address %></h3>
<h3><%= @user.phone %></h3>