<%= form_for(@project) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">  
    <% unless @project.errors.blank? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= f.label :id %><br />
      <%= f.text_field :id %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :account_id %><br />
      <%= f.select(:account_id, Account.user_accounts.collect {|a| a.id}) %>
      <%= hidden_field_tag :account_id, @project.account_id%> 
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div> 
</div>
<% end %>
