<% provide(:title, 'All Projects') %>
<h6>Admin->Projects</h6>

<table class='table table-striped'>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Account</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.id %></td>
    <td><%= project.description %></td>
    <td><%= project.account_id%></td>
    <td><%= link_to 'Edit', edit_project_path(:id => project.id, :account_id => project.account_id) %></td>
    <td><%= link_to 'Destroy', project_path(project, :account_id => project.account_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>