<h6>Admin->Accounts</h6>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'New Account', new_account_path %>
  </div>
</div>


<table class='table table-striped'>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Report email</th>
    <th></th>
    <th></th>
  </tr>

  <% @accounts.each do |account| %>
  <tr>
    <td><%= account.id %></td>
    <td><%= account.description %></td>
    <td><%= account.report_email %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

