<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @account.id %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Report email:</b>
  <%= @account.report_email %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
